* text=auto
*.cs text eol=crlf diff=csharp
*.axaml text eol=crlf
*.csproj text eol=crlf
*.props text eol=crlf
*.md text eol=lf
*.sh text eol=lf
*.png binary
*.ico binary
*.zip binary

# Preserve the exact upstream license bytes in installer source/evidence.
eng/installer/licenses/InnoSetup-6.7.1.txt -text
